/* styles.css */


h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* Cambia el color del texto si lo deseas */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  transition: transform 0.2s;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333; /* Cambia el color del título si lo deseas */
}

.card-text {
  font-size: 0.875rem;
  color: #555; /* Cambia el color del texto si lo deseas */
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.btn {
  background-color: #87CEEB; /* Color azul cielo para los botones */
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #5F9EA0; /* Cambia el color al pasar el cursor por encima */
}

.placeholder-image {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #555; /* Cambia el color del texto si lo deseas */
}
